<ngx-spinner type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>

<div class="card mb-3" style="margin-top: 2.5%; margin-left: 2%">

  <div class="card-body">
    <h3 class="card-title">Let's Filter Up</h3>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h4 class="card-title">
        <i class="material-icons">directions_walk</i>
        {{ 'AGE' | translate }}:
      </h4>

      <form [formGroup]="sliderForm">
        <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="options" formControlName="sliderControl">
        </ng5-slider>
      </form>
    </li>
    <li class="list-group-item">
      <h4 class="card-title">
        <i class="material-icons">adb</i>
        {{ 'SEVERITY_LEVELS' | translate }}:
      </h4>

      <ng-multiselect-dropdown [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings">
      </ng-multiselect-dropdown>
    </li>
    <li class="list-group-item">
      <h4 class="card-title">
        <i class="material-icons">date_range</i>
        {{ 'PICK_DATA' | translate }}:
      </h4>

      <form [formGroup]="myForm" (ngSubmit)="onSubmitReactiveForms()" novalidate>
        <my-date-range-picker name="reactiveFormsDateRange" [options]="myDateRangePickerOptions"
          formControlName="myDateRange" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
      </form>
    </li>
  </ul>

  <div class="card-body">
    <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="filter()">Let's Go</button>
  </div>
</div>