<!-- <span *ngIf="heatMapChecked">
    <iframe #heatMap src="./assets/heat_map.html"></iframe>
</span>

<span *ngIf="!heatMapChecked">
    <iframe #regularMap src="./assets/map.html"></iframe>
</span>

<br/>

<span>
    <mat-slide-toggle [(ngModel)]="heatMapChecked" [disabled]="heatMapDisabled">
        {{ 'HEAT_MAP' | translate}}
    </mat-slide-toggle>
</span> -->

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="5">
    <agm-data-layer *ngIf="geoJsonObject" [geoJson]="geoJsonObject" 
    (layerClick)="clicked($event, gm, infoWindow)" [style]="styleFunc">
        <agm-snazzy-info-window [isOpen]="infoWindowIsOpen"
        [latitude]="infoWindowLat" [longitude]="infoWindowLong"
        [closeWhenOthersOpen]="true" [closeOnMapClick]="true"
        [showCloseButton]="false" [openOnMarkerClick]="true"
        [backgroundColor]="'#FFF'" #infoWindow>
            {{infoWindowText}}
        </agm-snazzy-info-window>
    </agm-data-layer>
</agm-map>

<button (click)="onClick()">click me!</button>